name: Build and Push Docker Image

on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create mount directories
        run: |
          mkdir -p ~/.aws ~/.azure ~/.config/gcloud ~/.ssh

      - name: Build and push dev container
        uses: devcontainers/ci@v0.3
        with:
          imageName: jpacheco87/devcontainer
          imageTag: latest
          cacheFrom: jpacheco87/devcontainer:latest
          privileged: true
          push: always
          runCmd: echo "Dev container built successfully"
